% vim:syn=erlang
{sub_dirs, [
    "apps/mijkweb",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "master"}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}},
    {emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", "master"}}
    ,{mcache, ".*", {git, "git://github.com/mijkenator/memcached-client.git", "master"}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform},
    {parse_transform, cut},
    {parse_transform, do},
    {parse_transform, import_as}
]}.
