% vim:syn=erlang
{sub_dirs, [
    "apps/mijkweb",
    "apps/riak_man",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "master"}},
    {uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}},
    {emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", "master"}}
    ,{mcache, ".*", {git, "git://github.com/mijkenator/memcached-client.git", "master"}}
    ,{mcd, ".*", {git, "git://github.com/EchoTeam/mcd.git", "master"}}
    ,{elli, ".*", {git, "git://github.com/knutin/elli.git", "master"}}
    ,{re2, ".*", {git, "git://github.com/tuncer/re2.git", "master"}}
    ,{riakc, ".*", {git, "git://github.com/basho/riak-erlang-client.git", "master"}}
    ,{poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", "master"}}
    ,{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "master"}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform},
    {parse_transform, cut},
    {parse_transform, do},
    {parse_transform, import_as}
]}.
