{sub_dirs, [
    "apps/mijkweb",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform}
]}.
