<TMPL_INCLUDE NAME="header.inc">
<TMPL_INCLUDE NAME="page_start.inc">
                <div class="post">
					<h2 class="title"><a href="#">About this site</a></h2>
					<div class="entry"> <img src="images/e_logo.jpg" alt="" width="138" height="93" class="left" />
                        <p>This site is a demonstration using <a href="http://www.erlang.org">Erlang/OTP</a> platform for web 
                        development. Below you can read about it architecture and try to use web interface for this server. 
                        Source codes of this project you can find on this 
                        <a href="https://github.com/mijkenator/mijkweb">GitHub page</a></p>
                        <p>For trying web interface please follow <a href="/login/">Demo</a> link. You can use 
                        <b>testsysuser</b> as login and <b>syspassword</b> as password. This test account already filled by 
                        test content and test bots emulate real users. Or you can register new user account.</p>
                        <p>Server using nginx as web proxy, erlang server as web dynamic content provider, memcache as cache 
                        server, mysql as content storage. Detail desciption about server architecture you can read 
                        <a href="server_doc.html">here</a>. This demo working on Amazon EC2 microinstance. Performance test 
                        results you get get <a href="">here</a>.</p>
					</div>
                    <p class="meta"></p>
					<!--p class="meta"> <span class="posted">Posted by <a href="#">Someone</a> on December 17, 2007</span> <a href="#" class="permalink">Read more</a> <a href="#" class="comments">Comments (18)</a> </p-->
				</div>
				<div class="post">
					<h2 class="title"><a href="#">About me</a></h2>
					<div class="entry">
						<p>Morbi sit amet mauris. Nam vitae nibh eu sapien dictum pharetra. Vestibulum elementum neque vel lacus. Proin auctor dolor et massa. Phasellus sit amet velit. Vestibulum vel lacus vitae tortor consectetuer sapien semper dictum. Integer est felis, facilisis quis, lacinia sed, lacinia et, augue. Vivamus ultrices lacinia urna. Proin varius sollicitudin nunc. Vivamus condimentum, dui nec imperdiet porta, odio risus molestie nisl, nec laoreet purus sapien a massa.</p>
					</div>
                    <p class="meta"></p>
					<!--p class="meta"> <span class="posted">Posted by <a href="#">Someone</a> on December 13, 2007</span> <a href="#" class="permalink">Read more</a> <a href="#" class="comments">Comments (18)</a> </p-->
				</div>
<TMPL_INCLUDE NAME="content_end.inc">
<TMPL_INCLUDE NAME="footer.inc">
