[
 {sasl, [
  {sasl_error_logger, false}
 ]},
 %% lager config
 {lager, [
    {handlers, [
      {lager_console_backend, warning},
      {lager_file_backend, [
        {"log/error.log",  error, 10485760, "$D0", 5},
        {"log/console.log",warning, 10485760, "$D0", 5}
      ]}
    ]},
   {crash_log, "log/crash.log"},
   {crash_log_msg_size, 65536},
   {crash_log_size, 10485760},
   {crash_log_date, "$D0"},
   {crash_log_count, 5},
   {error_logger_redirect, true}
  ]},
  {mcache,[
   {pools, [
      [{name, generic},
      {connection_count, 10},
      {servers, [{"127.0.0.1:11211",256}]}],
      [{name, generic1},
      {connection_count, 10},
      {servers, [{"127.0.0.1:11211",256}]}],
      [{name, generic2},
      {connection_count, 10},
      {servers, [{"127.0.0.1:11211",256}]}]
   ]},
   {expires,
       [   {example.foo, {generic, 300}},
           {example.bar, {generic, {10, hours}}},
           {test1, {generic1, {10, minutes}}},
           {test2, {generic2, {10, minutes}}},
           {test3, {generic1, {10, minutes}}}
       ]
   }
   ]}
].
