% vim:syn=erlang
[
 {cowboy, [{profile, false}]},
 {sasl, [
  {sasl_error_logger, false}
 ]},
 %% lager config
 {lager, [
    {handlers, [
      {lager_console_backend, debug},
      {lager_file_backend, [
        {"log/error.log",  error, 10485760, "$D0", 5},
        {"log/console.log",debug, 10485760, "$D0", 5}
      ]}
    ]},
   {crash_log, "log/crash.log"},
   {crash_log_msg_size, 65536},
   {crash_log_size, 10485760},
   {crash_log_date, "$D0"},
   {crash_log_count, 5},
   {error_logger_redirect, true}
  ]},
  {mcache,[
   {pools, [
      [{name, generic},
      {connection_count, 20},
      {servers, [{"127.0.0.1:11211",1}]}]
%      [{name, generic1},
%      {connection_count, 10},
%      {servers, [{"127.0.0.1:11211",256}]}],
%      [{name, generic2},
%      {connection_count, 10},
%      {servers, [{"127.0.0.1:11211",256}]}]
   ]}
%   {expires,
%       [   {example.foo, {generic, 300}},
%           {example.bar, {generic, {10, hours}}},
%           {test1, {generic1, {10, minutes}}},
%           {test2, {generic2, {10, minutes}}},
%           {test3, {generic1, {10, minutes}}}
%       ]
%   }
   ]},
   {riak_man, [
        {pools, [
            {pool1, [
                {size, 10},
                {max_overflow, 20}
            ], [
                {hostname, "127.0.0.1"},
                {port,     8087}
            ]}
        ]}
    ]},
    {apns, [
      {apple_host, "gateway.push.apple.com"},
      {apple_port, 2195},
      {cert_file, "/home/ashim/work/mijkweb/certs/apns-prod.pem"},
      {key_file, undefined},
      {cert_password, "main99"},
      {timeout, 30000},
      {feedback_port, 2196},
      {feedback_host, "feedback.push.apple.com"},
      {feedback_timeout, 18000000}
    ]}    
].
